server:
  port: 8080
spring:
  main:
    allow-bean-definition-overriding: true
  datasource:
    driver-class-name: org.postgresql.Driver
    url: jdbc:postgresql://localhost:5432/
    username: postgres
    password: password
  jpa:
    generate-ddl: true
    show-sql: true
  sql:
    init:
      schema-locations: classpath:sql/schema.sql
      data-locations: classpath:sql/data.sql
      mode: always
jwt:
  key: TEMP_JWT_KEY_SHOULD_BE_CHANGED_AND_MOVED_TO_ENVIRONMENT #TODO
  access-token-expiration: 3600000
  refresh-token-expiration: 86400000 #TODO UNUSED

